@model  ShiJieBeiComponents.Domains.User
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="~/Content/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/me.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css" />

</head>

<body>
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item" href="/game/goindex">
            <img class="mui-icon" src="~/Content/img/nav/sc.png"></img>
            <span class="mui-tab-label">赛程</span>
        </a>
        <a class="mui-tab-item" href="/game/rank">
            <img class="mui-icon" src="~/Content/img/nav/phb.png"></img>
            <span class="mui-tab-label">排行榜</span>
        </a>
        <a class="mui-tab-item mui-active" href="/my">
            <img class="mui-icon" src="~/Content/img/nav/w-hover.png"></img>
            <span class="mui-tab-label">我</span>
        </a>
    </nav>
    <div class="mui-content my-content">
        @*<div class="head-div">
                <img src="~/Content/img/headimage/@Model.HeadImg" class="head-img" width="76px" height="76px" />
            </div>
            <div class="nick-name-div">
                <a href="/my/updateusername"><span class="nick-name">@Model.Name</span></a>
                <img src="~/Content/img/jf.png" class="jf-icon" width="20px" height="auto" />
                <span class="integral">积分：@Model.Account.Vouchers</span>
            </div>*@
        <ul class="mui-table-view-chevron">
            <li class="mui-table-view-cell mui-media">
                <a class="mui-navigate-right" href="/my/updateusername">
                    <img class="mui-pull-left head-img" width="76px" src="~/Content/img/headimage/@Model.HeadImg">
                    <div class="mui-media-body">
                        <span class="nick-name">@Model.Name</span>
                        <img src="~/Content/img/jf.png" class="jf-icon" width="20px" height="auto" />
                        <span class="integral">积分：@Model.Account.Vouchers</span>
                    </div>
                </a>
            </li>
        </ul>

        <div class="dividing-line"></div>
        <form id='login-form' class="mui-input-group">
            <div class="mui-input-row">
                <label>邮箱:</label>
                <input id='email' type="text" class="mui-input-clear" value="@Model.Email" readonly="readonly" placeholder="@Model.Email">
            </div>
            <div class="mui-input-row">
                <label>钱包:</label>
                <input id='wallet' type="text" class="mui-input-clear" value="@Model.Wallet" readonly="readonly" placeholder="@Model.Wallet">
            </div>
            <div class="mui-input-row">
                <label style="width: auto;">积分记录 </label>
                <a href="/my/myvoucherlog" class="mui-navigate-right"></a>
            </div>
            <div class="mui-input-row">
                <label>密码 : </label>
                <input id='password' disabled="" type="password" class="mui-input-clear" placeholder="******">
                <a href="/my/resetpasswordbycenter" class="mui-navigate-right"></a>
            </div>

            <div class="mui-input-row" style="height:200px">
                @*<input id='' type="text" class="mui-input-clear" disabled="" placeholder="">*@
                <text>
                    <br />积分兑换规则：<br />
                    1、本积分为tokenbwin平台世界杯竞猜筹码。<br />
                    2、新注册用户平台赠送50积分。<br />
                    3、积分支持多种数字货币兑换。<br />
                    4、兑换比例以当日币价为准。<br />
                    5、立即兑换加微信客服：mytokenera。
                </text>
            </div>




        </form>
    </div>
</body>

</html>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Scripts/app.js"></script>