@model ShiJieBei.Models.GameViewModel
@{
    Layout = null;
    ViewBag.Title = "赛程详情";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        table .btn {
            margin-right: 20px;
            margin-bottom: 20px;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <h3>2018俄罗斯世界杯赛程时间表一览</h3><h4>用户名：@Model.User.Name</h4>
        <h4>剩余积分：@Model.User.Account.Vouchers (下注一次消耗10积分，可多次下注)</h4>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>日期</th>
                    <th>主队	VS 客队</th>
                    <th>投注区</th>
                </tr>
            </thead>
            <tbody>
          @foreach (var item in Model.Games)
          {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.StartTime.ToString("yyyy/MM/dd")</td>
                <td>@($"{item.ZhuChang }VS{item.KeChang}")</td>
                <td>
                    <a class="btn btn-success" onclick="win(@item.Id,@Model.User.Id)">胜</a>
                    <a class="btn btn-info" onclick="pingju(@item.Id,@Model.User.Id)">平</a>
                    <a class="btn btn-warning" onclick="lose(@item.Id,@Model.User.Id)">负</a>
                </td>
            </tr>

          }
                  


            </tbody>
        </table>
    </div>
</body>
</html>
<script src="~/Content/js/jquery.min.js"></script>
<script>
    function win(gameId,userId) {
        if (confirm("确实买'胜'么")) {
            $.post("/gameorder/createorder", { gameId: gameId, userId: userId,gameResult:0 }, function (d, s, xhr) {
                alert("下注成功");
                window.location = window.location;
            });
        }
    }
    function pingju(gameId,userId) {
        if (confirm("确实买'平'么")) {
            $.post("/gameorder/createorder", { gameId: gameId, userId: userId,gameResult:1 }, function (d, s, xhr) {
                alert("下注成功");
                window.location = window.location;
            });
        }
    }
    function lose(gameId,userId) {
        if (confirm("确实买'输'么")) {
            $.post("/gameorder/createorder", { gameId: gameId, userId: userId,gameResult:2 }, function (d, s, xhr) {
                alert("下注成功");
                window.location = window.location;
            });
        }
    }
</script>

