@model ShiJieBei.Models.PlayGameViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>竞猜详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="~/Content/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/schedule.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/rank.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/jc.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css" />
    <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />
</head>

<body>
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item " href="/game/goindex">
            <img class="mui-icon" src="~/Content/img/nav/sc-hover.png"></img>
            <span class="mui-tab-label">赛程</span>
        </a>
        <a class="mui-tab-item" href="/game/rank">
            <img class="mui-icon" src="~/Content/img/nav/phb.png"></img>
            <span class="mui-tab-label mui-active">排行榜</span>
        </a>
        <a class="mui-tab-item" href="/my">
            <img class="mui-icon" src="~/Content/img/nav/w.png"></img>
            <span class="mui-tab-label">我</span>
        </a>
    </nav>
    <input id="islogin" type="hidden" value="@ViewBag.IsLogin.ToString()" />
    <div class="mui-content my-content">
        <div style="padding-bottom: 20px;">
            <div class="mui-card">
                <div class="jc-img-div">
                    <img src="~/Content/img/schedule/jcz.png" class="js-icon" />
                </div>
                <div class="jc-div">
                    <div class="inline-block third">
                        <img class="flag center-block" src="~/Content/img/gjtb/@($"{Model.Game.ZhuChangSuoXie}.png")" />
                        <span class="national center-block text-center">@Model.Game.ZhuChang</span>
                    </div>
                    <div class="inline-block third">
                        <h1 class="text-center">VS</h1>
                        <span class="start-time center-block text-center">@Model.Game.StartTime.ToString("MM-dd") @Model.Game.StartTime.ToString("HH:mm")</span>
                    </div>
                    <div class="inline-block third">
                        <img class="flag center-block" src="~/Content/img/gjtb/@($"{Model.Game.KeChangSuoXie}.png")" />
                        <span class="national center-block text-center">@Model.Game.KeChang</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #FFFFFF;">

            <div class="dividing-line"></div>
            <h4 class="text-center">竞猜</h4>
            <div class="btn-div">
                <button id="succ" type="button" class="succ-text jc-btn mui-btn-outlined">主胜</button>
                <button id="tie" type="button" class="tie-text jc-btn mui-btn-outlined">平</button>
                <button id="fail" type="button" class="fail-text jc-btn mui-btn-outlined">客胜</button>
            </div>

            <div class="game-rules">
                <h4 class="text-center">竞猜规则</h4>
                <p>1:每场比赛竞猜分胜平负三种竞猜模式,</p>
                <p>&nbsp;一次操作可以竞猜一次，可以重复竞猜;</p>
                <p>2:竞猜一次消耗20积分；</p>
                <p>3:积分可随时提现;提现加微信客服：mytokenera；</p>
            </div>
            <div class="dividing-line"></div>

            <h4 class="text-center">竞猜记录</h4>
            <ul class="mui-table-view mui-unfold">
                <li class="mui-table-view-cell mui-collapse mui-media mui-media-icon">
                    <div class="mui-row">
                        <div class="mui-col-sm-2 mui-col-xs-2 ">
                            序号
                        </div>
                        <div class="mui-col-sm-4 mui-col-xs-4 ">
                            昵称
                        </div>
                        <div class="mui-col-sm-2 mui-col-xs-2 text-center">
                            结果
                        </div>
                        <div class="mui-col-sm-4 mui-col-xs-4 text-right">
                            日期
                        </div>
                    </div>
                </li>
                @if (Model.GameOrders.Any())
                {
                    foreach (var item in Model.GameOrders)
                    {
                        <li class="mui-table-view-cell mui-collapse mui-media mui-media-icon">
                            <div class="mui-row">
                                <div class="mui-col-sm-2 mui-col-xs-2 ">
                                    <span class="rank-list-text">@(Model.GameOrders.IndexOf(item) + 1)</span>
                                </div>
                                <div class="mui-col-sm-1 mui-col-xs-1 ">
                                    <img class="icon-img" src="~/Content/img/headimage/@item.User.HeadImg">
                                </div>
                                <div class="mui-col-sm-3 mui-col-xs-3">
                                    <span class="rank-list-text">@(item.User.Name)</span>
                                </div>
                                <div class="mui-col-sm-2 mui-col-xs-2 text-center">
                                    @if (item.GameOrderStatus == ShiJieBeiComponents.Domains.GameOrderStatus.Win)
                                    {
                                        <span class="rank-list-text succ-text">主胜</span>
                                    }
                                    else if (item.GameOrderStatus == ShiJieBeiComponents.Domains.GameOrderStatus.Ping)
                                    {
                                        <span class="rank-list-text tie-text">平</span>
                                    }
                                    else
                                    {
                                        <span class="rank-list-text fail-text">客胜</span>
                                    }

                                </div>
                                <div class="mui-col-sm-4 mui-col-xs-4 text-right">
                                    <span class="rank-list-text">@item.CreateTime.ToString("MM-dd") @item.CreateTime.ToString("HH:mm")</span>
                                </div>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li><h4 class="text-center">暂无竞猜记录</h4></li>
                }
            </ul>


        </div>
    </div>
</body>

</html>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/mui.min.js"></script>
@*<script type="text/javascript" charset="utf-8">
    document.getElementById("succ").addEventListener('tap', function () {
        if ($("#islogin").val() == "True") {
            var btnArray = ['重选', '确定'];
            mui.confirm('你选择了主场胜利，点击确认后竞猜成功。可以多次竞猜。', '提示信息', btnArray, function (e) {
                if (e.index == 1) {
                    $.post("/gameorder/createorder", { gameId: @Model.Game.Id,  gameResult: 0 }, function (d, s, xhr) {
                        if (d.success) {
                            var tipArray = ['确定'];
                            mui.confirm('竞猜成功', '提示信息', tipArray, function (e) { window.location = window.location; });

                        } else {
                            var tipArray = ['确定'];
                            mui.confirm('竞猜失败' + d.msg, '提示信息', tipArray, function (e) { });
                        }
                    });
                } else {

                }
            })
        } else {
            var tipArray = ['确定'];
            mui.confirm('未登录', '提示信息', tipArray, function (e) { window.location = window.location.href = '/home/login'; });
        }


    });
    document.getElementById("fail").addEventListener('tap', function () {
        if ($("#islogin").val() == "True") {
            var btnArray = ['重选', '确定'];
            mui.confirm('你选择了客场胜利，点击确认后竞猜成功。可以多次竞猜。', '提示信息', btnArray, function (e) {
                if (e.index == 1) {
                    $.post("/gameorder/createorder", { gameId: @Model.Game.Id, gameResult: 2 }, function (d, s, xhr) {
                        if (d.success) {
                            var tipArray = ['确定'];
                            mui.confirm('竞猜成功' , '提示信息', tipArray, function (e) { window.location = window.location; });

                        } else {
                            var tipArray = [ '确定'];
                            mui.confirm('竞猜失败' + d.msg, '提示信息', tipArray, function (e) { });
                        }
                    });
                } else {

                }
            })
        } else {
            var tipArray = ['确定'];
            mui.confirm('未登录', '提示信息', tipArray, function (e) { window.location = window.location.href = '/home/login'; });
        }

    });
    document.getElementById("tie").addEventListener('tap', function () {
        if ($("#islogin").val() == "True") {
            var btnArray = ['重选', '确定'];
            mui.confirm('你选择了平局，点击确认后竞猜成功。可以多次竞猜。', '提示信息', btnArray, function (e) {
                if (e.index == 1) {
                    $.post("/gameorder/createorder", { gameId: @Model.Game.Id, gameResult: 1 }, function (d, s, xhr) {
                        if (d.success) {
                            var tipArray = ['确定'];
                            mui.confirm('竞猜成功', '提示信息', tipArray, function (e) { window.location = window.location; });
                            window.location = window.location;
                        } else {
                            var tipArray = ['确定'];
                            mui.confirm('竞猜失败' + d.msg, '提示信息', tipArray, function (e) { });
                        }

                    });
                } else {

                }
            })
        } else {
            var tipArray = ['确定'];
            mui.confirm('未登录', '提示信息', tipArray, function (e) { window.location = window.location.href = '/home/login'; });

        }
    });
</script>*@
<script src="~/Scripts/app.js"></script>
<script src="~/Content/js/sweetalert2.all.min.js"></script>
<script>
    mui('body').on('tap', 'a', function () {
        window.top.location.href = this.href;
    });
</script>
<script type="text/javascript" charset="utf-8">
    var rang =
        '<button type="button" class="mui-btn">1</button>' +
            '<button type="button" class="mui-btn">5</button>' +
            '<button type="button" class="mui-btn">10</button>' +
            '<button type="button" class="mui-btn">50</button>' +
            '<button type="button" class="mui-btn">100</button>' +
            '<button type="button" class="mui-btn">500</button>' ;
    var btn_val = 1;
    $("body").on("click", ".mui-btn", function () {
        $(".mui-btn").removeClass("mui-active");
        $(this).addClass("mui-active");
        btn_val = $(this).html();
    });
    $("body").on("click", ".jc-btn", function () {
        bet($(this).attr('id'));
    });
    function bet(id) {
        var titleStr = '';
        var resultStr = 0;
        if (id == 'succ'){
            titleStr = '主胜';
            resultStr = 0;
        }else if(id == 'tie'){
            titleStr = '平';
            resultStr = 1;
        }else if(id == 'fail'){
            titleStr = '客胜';
            resultStr = 2;
        }
        swal({
            title: titleStr,
            html: rang,
            showCloseButton: true,
            confirmButtonText: '确认'
        }).then((result) => {
            if (result.value) {
                var url = "/gameorder/createorder";
                var data = {
                    "gameId": @Model.Game.Id,
                    "count":btn_val,
                    "gameResult":resultStr
                };
                $.post(url,
                    data,
                    function (data) {
                        if (data.success) {
                            mui.toast('竞猜成功，'+ titleStr + btn_val +'注，合计' + (btn_val*20) + '积分');
                        } else {
                            mui.toast('竞猜失败，'+ data.msg);
                        }
                    });
            }
        });
    }
</script>